<% provide(:title, "Home") %>

<% if logged_in? %>
<% end %>
<div class="home_main">
  <div class="buy_now">
    <div id="coins">
      <p>Gold Coins</p>
      <p>$5 and up</p>
      <button>Shop now</button>
    </div>
    <div id="bullion">
      <p>Bullion</p>
      <p>$100 and up</p>
      <button>Shop now</button>
    </div>
    <div id="watch">
      <p>Watches</p>
      <p>$50 and up</p>
      <button>Shop now</button>
    </div>
    <div id="necklace">
      <p>Necklaces</p>
      <p>$60 and up</p>
      <button>Shop now</button>
    </div>
    <div id="ring">
      <p>Rings</p>
      <p>$30 and up</p>
      <button>Shop now</button>
    </div>
    <div id="jewelry">
      <p>Jewelry</p>
      <p>$50 and up</p>
      <button>Shop now</button>
    </div>
  </div>
  <div class="sell_now sell_active">
    <p>Start your online business</p>
    <button class="sell">Let's get started</button>
  </div>
  <div class="home_gallery">
    <h1>For You</h1>
    <div class="gallery_container">
      <div class="gallery_main" id="gallery_main_first"></div>
      <div class="gallery_other first"></div>
      <div class="gallery_other second"></div>
      <div class="gallery_other third"></div>
      <div class="gallery_other fourth"></div>
    </div>
  </div>
  <div class="home_gallery">
    <h1>Today's Best Deals</h1>
    <div class="gallery_container">
      <div class="gallery_main"></div>
      <% (1..4).each do |n| %>
      <div class="gallery_other"></div>
      <% end %>
    </div>
  </div>
  <div class="home_gallery">
    <h1>Featured Products</h1>
    <div class="gallery_container">
      <div class="gallery_main"></div>
      <% (1..4).each do |n| %>
      <div class="gallery_other"></div>
      <% end %>
    </div>
  </div>
  <div class="home_gallery">
    <h1>Specific Categories</h1>
    <div class="gallery_container">
      <div class="gallery_main"></div>
      <% (1..4).each do |n| %>
      <div class="gallery_other"></div>
      <% end %>
    </div>
  </div>
</div>

  
