<% provide(:title, "Home") %>

<% if logged_in? %>
    <aside class="col-md-4">
      <section class="user_info">
	<%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="thingy_feed">
	<%= render current_user.statuses %>
    </div>
<% else %>
  <div class="center jumbotron">
    <h1>Home</h1>
    <p>This is the home page for iGold.</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
