<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="home_main">
    <h1>Are you looking to...</h1>
    <br>

    <div class="big">
      <button class="thing">Hello</button>
      <div class="or"><h2>or</h2></div>
      <button class="thing">Bye</button>
    </div>
  </div>
<% else %>
  <div class="home_main">
    <h1>Are you looking to...</h1>
    <br>
    <%= link_to "Buy", signup_path %>
    <p>Or</p>
    <%= link_to "Sell", signup_path %>
  </div>
<% end %>
