<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="home_main">
    <h1>Are you looking to...</h1>
    <br>
    <ul class="options">
      <li><%= link_to "Buy", signup_path %></li>
      <li><h4>Or</h4></li>
      <li><%= link_to "Sell", signup_path %></li>
    </ul>
  </div>
<% else %>
  <div class="home_main">
    <h1>Are you looking to...</h1>
    <br>
    <%= link_to "Buy", signup_path %>
    <p>Or</p>
    <%= link_to "Sell", signup_path %>
  </div>
<% end %>
