<% if !message.sender_id.nil? %>
<li class="message_block">
  <%= image_tag message.sender.profile_picture(:thumbnail), class: "message_thumbnail" %><span><%= message.sender.name %>: <%= message.content %><% if !message.product_id.nil? %> <%= link_to "This message is associated with this product.", message.product %><% end %></span>
</li>
<% end %>
