<% provide(:title, "Search Results") %>
<div class="toggle_options">
  <div class="option">
    <h2>Color</h2>
    <p>Green: <input type="checkbox" name="color" id="green" value="green"></p>
  </div>
</div>
<div class="search_results">
  <% @results.each do |prod| %>
    <div class="result">
      <div class="image_container_search">
        <%= image_tag prod.picture_url(:thumb), class: "product_image_search" %>
      </div>
      <div class="info_container">
        <%= link_to prod.title, prod, class: "title_link" %>          
        <h3><%= number_to_currency(prod.price) %></h3>
      </div>
    </div>
  <% end %>
  <%= will_paginate @results %>
</div>

