<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New notification from lstechonline.com, <%= @notification.user.name %></h1>
    <p>
      <a href="<%= @notification.url %>"><%= @notification.message.html_safe %></a>
    </p>
  </body>
</html>
