<h1>Notifications</h1>
<% if @notifications.count == 0 %>
<h2>You have no notifications</h2>
<% end %>
<% @notifications.each do |notif| %>
<%= render notif %>
<% end %>
<%= will_paginate @notifications %>
