<div class="pure-g pad-box">
  <%= hidden_field_tag :user_id, current_user.id %>
  <div class="pure-u-1">
    <h1>Notifications</h1>
    <%= will_paginate @notifications %>
    <% if @notifications.count == 0 %>
      <h3>You have no notifications</h3>
    <% end %>
    <% @notifications.each do |notif| %>
      <%= render notif %>
    <% end %>
    <%= will_paginate @notifications %>
  </div>
</div>
