<div class="pure-g pad-box">
  <div class="pure-u-1">
    <h1 class="pad-header">All Users</h1>
  </div>
  <div class="pure-u-1 pad-header">
    <%= will_paginate %>
  </div>
  
  <%= render @users %>

  <div class="pure-u-1 pad-header">
    <%= will_paginate %>
  </div>
</div>
