<% provide(:title, "Selling") %>
<h1>My Selling Deals</h1>
<% if @selling.nil? %>
<%= link_to "You have no selling deals. Click here to go upload some products.", new_product_path %>
<% end %>
<%= render @selling %>
