<div class="pure-g pad-box">
  <div class="pure-u-1">
    <h1>My Selling Deals</h1>
  </div>
  <% if !@selling.any? %>
    <%= link_to "You have no selling deals. Click here to upload a product.", new_product_path %>
  <% else %>
    <div class="pure-u-1">
      <table class="pure-table pure-table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Buyer</th>
            <th>Exchange Method</th>
            <th>Payment Method</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%= render @selling %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
