<div class="pure-g pad-box">
  <div class="pure-u-1">
    <h1>Wishlist</h1>
  </div>
  
  <div class="pure-u-1">
    <%= will_paginate @saved_products %>
  </div>
  
    <% if !@saved_products.any? %>
      <div class="pure-u-1">
        <h3>You have no products in your wishlist</h3>
      </div>
    <% end %>
    <% @saved_products.each do |saved| %>
      <% prod = saved.product %>
      <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
        <%= render prod %>
      </div>
    <% end %>
  
  <div class="pure-u-1">
    <%= will_paginate @saved_products %>
  </div>
</div>
