<h3>Both parties have issued a complaint about the current deal. You can either remove your complaint now or communicate directly with jwlr administration.</h3>
<%= form for @deal do |f| %>
  <% if current_user.id == @deal.buyer_id %>
    <%= f.hidden_field :complaint_buyer, value: false %>
  <% else %>
    <%= f.hidden_field :complaint_seller, value: false %>    
  <% end %>
  <%= f.submit "Complaint resolved", class: "pure-button pure-button-primary remove_complaint_button" %>    
<% end %>
