<h2>Welcome to the deals guide! We hope these instructions help you to proceed with your deal and get what you want.</h2>
  <!-- STAGES of DEAL for BUYER -->
  <!-- 1. needs to select methods -->
  <!-- 2. needs to agree on selling method -->
  <!-- 3. needs to agree on exchange method -->
  <!-- 4. needs to pay -->
  <!-- 5. Receive product and affirm conducted transaction -->
  <!-- 6. leave a review -->

  <!-- STAGES of DEAL for SELLER -->
  <!-- 1. wait for buyer to select methods -->
  <!-- 2. needs to agree on a selling method -->
  <!-- 3. needs to agree on exchange method -->
  <!-- 4. needs to receive payment -->
  <!-- 5. needs to ship product and affirm conducted transaction -->
  <!-- 6. leave a review -->
  
  <!-- ONLY CALCULATE IDs ONCE -->

  <% if @deal.product.selling_method_links.count > 1 && @deal.selling_method_id.nil? %> <!-- Hasn't decided on selling method -->
    <% if current_user.id == @deal.buyer_id %>
      <h3>First, you will need to choose a selling method on the following page. Do you want to pay the static price, or negotiate?</h3>
    <% end %>
    <% if current_user.id == @deal.seller_id %>
      <h3>Waiting on the buyer to choose a selling method.</h3>
    <% end %>
  <% end %>



  <% if @deal.product.exchange_method_links.count > 1 && @deal.exchange_method_id.nil? %> <!-- Hasn't decided on exchange method -->
    <% if current_user.id == @deal.buyer_id %>
      <h3>You will need to choose an exchange method on the following page. Delivery, pickup, or meetup?</h3>    
    <% end %>
    <% if current_user.id == @deal.seller_id %>
      <h3>Waiting on the buyer to choose an exchange method.</h3>
    <% end %>
  <% end %>

  <% if @deal.product.payment_method_links.count > 1 && @deal.payment_method_id.nil? %> <!-- Hasn't decided on payment method -->
    <% if current_user.id == @deal.buyer_id %>
      <h3>Choose the payment method, and let your seller know how you'd like to conduct the transaction.</h3>
    <% end %>
    <% if current_user.id == @deal.seller_id %>
      <h3>Waiting on the buyer to choose a payment method.</h3>
    <% end %>
  <% end %>

  <% unless @deal.selling_method_id.nil? || @deal.exchange_method_id.nil? || @deal.payment_method_id.nil? %> <!-- Successfuly chosen methods. -->
    <% if current_user.id == @deal.buyer_id %>
      <h3>Congrats! You've successfully selected selling, exchange, and payment methods. Now, it's time to complete the deal and get your product!</h3>
    <% end %>
    <% if current_user.id == @deal.seller_id %>
      <h3>The buyer has successfully selected selling, exchange, and payment methods. Now, it's time to complete the deal and sell your product!</h3>
    <% end %>
  <% end %>
  
  <% selling_completed = (@deal.selling_method_id == 2 || @deal.proposed_price_accepted ) %>
  <% exchange_completed = (@deal.exchange_agreement_seller && @deal.exchange_agreement_buyer) %>
  <% payment_completed = @deal.payment_complete %>

  <% if !selling_completed %>
    <% if current_user.id == @deal.buyer_id %>
      <h3><span class="selling_button inline_button">Now, you will need to agree on a price with the seller. </span>Feel free to use messaging to communicate.</h3>
    <% end %>
    <% if current_user.id == @deal.seller_id %>
      <% if @deal.user_proposed_price.nil? %>
        <h3>Waiting on the buyer to propose a price.</h3>
      <% else %>
        <h3><span class="selling_button inline_button">Either accept or deciline the buyer's price proposal. </span>Use messaging to communicate.</h3>
      <% end %>
    <% end %>
  <% end %>

  <!-- NEED to account for different exchange methods -->
  <% if selling_completed && !exchange_completed %>
    <% if current_user.id == @deal.buyer_id %>
      <h3><span class="exchange_button inline_button">You will need to agree on an exchange method with the seller. </span>Feel free to use messaging to communicate.</h3>
    <% end %>

    <% if current_user.id == @deal.seller_id %>
      <h3><span class="exchange_button inline_button">You will need to agree on an exchange method with the buyer. </span>Feel free to use messaging to communicate.</h3>
    <% end %>
  <% end %>

  <!-- Need to account for meetup and pickup and not paypal-->
  <% if selling_completed && exchange_completed && !payment_completed %>
    <% if current_user.id == @deal.buyer_id %>
      <h3>You're almost done! <span class="payment_button inline_button">Now make your payment so you can get your product.</span></h3>
    <% end %>
    
    <% if current_user.id == @deal.seller_id %>
      <h3>You're almost done! Waiting on the buyer to complete the payment.</h3>
    <% end %>
  <% end %>

  <% if selling_completed && exchange_completed && payment_completed %>
    <% if current_user.id == @deal.buyer_id %>
      <% if @deal.exchange_method_id == 1 %>
        <h3>The product is being shipped to you. <span class="complete_button inline_button">Let us know when you receive it.</span></h3>
      <% end %> 
      <% if @deal.exchange_method_id == 2 %>
        <h3>Meet the seller at the location specified and <span class="complete_button inline_button">let us know when you get the product.</span></h3>
      <% end %>
      <% if @deal.exchange_method_id == 3 %>
        <h3>Pickup the product at the store. <span class="complete_button inline_button">Let us know when you do.</span></h3>
      <% end %>
    <% end %>
    
    <% if current_user.id == @deal.seller_id %>
      <% if @deal.exchange_method_id == 1 %>
        <h3>You need to ship the product to the user. <span class="complete_button inline_button">Let us know whenyou do.</span></h3>
      <% end %>
      <% if @deal.exchange_method_id == 2 %>
        <h3>Meet the buyer and the location specified and <span class="complete_button inline_button">let us know when you complete the deal.</span></h3>
      <% end %>
      <% if @deal.exchange_method_id == 3 %>
        <h3>The buyer will be picking up the product. <span class="complete_button inline_button">Let us know when the deal is done.</span></h3>
      <% end %>
    <% end %>

    
  <% end %>  

