<!-- First, must select methods -->
<!-- Second, must agree on a price -->
<!-- Third, must agree on an exchange method -->
<!-- Fourth, completion -->

<% buyer = (current_user.id == @deal.buyer_id) %>
<% seller = (current_user.id == @deal.seller_id) %>

<div class="instructions">
  <% if @deal.selling_method_id.nil? || @deal.exchange_method_id.nil? || @deal.payment_method_id.nil? %>
    <%= hidden_field_tag :page, 1 %>
    <% if buyer %>
      <h3>You need to select the methods of transaction.</h3>
    <% end %>
    <% if seller %>
      <h3>The buyer needs to select the methods of transaction.</h3>
    <% end %>


  <% elsif @deal.proposed_price_accepted == false %>
    <%= hidden_field_tag :page, 2 %>
    <% if buyer %>
      <% if @deal.user_proposed_price.nil? %>
        <h3>You need to propose a price.</h3>
      <% else %>
        <h3>The seller has not accepted your proposed price. Feel free to communicate with the seller with messaging.</h3>
      <% end %>
    <% end %>

    <% if seller %>
      <% if @deal.user_proposed_price.nil? %>
        <h3>The user still needs to propose a price.</h3>
      <% else %>
        <h3>You still need to agree on a price with the buyer. Feel free to communicate with the seller with messaging.</h3>
      <% end %>
    <% end %>

  <% elsif !@deal.agreement_achieved %>
    <%= hidden_field_tag :page, 3 %>
  
    <% if buyer %>
      <h3>You need to agree on an exchange method with the buyer.</h3>
      <% if @deal.exchange_method.method == "Delivery" %>
        <h3>Notify the seller where you would like the product to be delivered, and accept the exchange if you are satisfied.</h3>
      <% end %>
      <% if @deal.exchange_method.method == "Meetup" %>
        <h3>Communicate with the seller to determine where you would like to meet up for the transaction, and accept the exchange when you are satisfied.</h3>
      <% end %>
      <% if @deal.exchange_method.method == "Pickup" %>
        <% if @deal.product.store.nil? %>
          <h3>Pick up the product from the seller. Communicate with the seller to determine where.</h3>
        <% end %>
      <% end %>
    <% end %>

    <% if seller %>
      <h3>You need to agree on an exchange method with the seller.</h3>
      <% if @deal.exchange_method.method == "Delivery" %>
        <h3>Note the delivery location, and accept the exchange if you are satisfied.</h3>
      <% end %>
      <% if @deal.exchange_method.method == "Meetup" %>
        <h3>Communicate with the buyer to determine where you would like to meet up for the transaction, and accept the exchange when you are satisfied.</h3>
      <% end %>
      <% if @deal.exchange_method.method == "Pickup" %>
        <h3>The buyer will pick up the product from you. Communicate with them so they know where to go, and when.</h3>
      <% end %>
    <% end %>


  <% else %>
    <%= hidden_field_tag :page, 4 %>
    <% if buyer %>
    <% end %>
    <% if seller %>
    <% end %>

  <% end %>
</div>
