<% @pictures.each do |picture| %>
<div class="picture">
  <div class="modal-body">
    <img id="image" src="/assets/igoldhome.png" alt="Picture">
   </div>
    <%= image_tag picture.photo.url(:thumb) %>
    <%= link_to "Delete", picture, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_picture_url(picture) %>
  </div>
<% end %>

