
<div class="picture">
  <div class="modal-body">
    <%= image_tag @picture.photo.url, :id => "image" %>
  </div>
    <%= link_to "Delete", @picture, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_picture_url(@picture) %>
</div>

