.top-menu {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background: #003459;
  text-align: center;
  vertical-align: center;
}

.top-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.top-menu .pure-menu-selected a {
  color: white;
}

.top-menu a {
  color: #00A8E8;
}

.top-menu li a:hover, 
.top-menu li a:focus {
  background: #003459;
  color: #007EA7;
}

.top-menu li {
  width: 100%;
}

.top-menu .pure-menu-children {
  background-color: #003459;
}

.top-menu input[type=text] {
  width: 100%;
}

.suggestions ul {
  position: absolute;
  display: none;
  clear: both;
  width: 20em;
  overflow: visible;
  z-index: 2;
  border: 1px solid #00171F;
  border-radius: 0.4em;
  padding: 2px;
  margin-top: 0;
  color: #00171F;
  background-color: #FFFFFF;
  list-style-type: none;
}

.suggestions li {
  list-style-position: inside;
  margin: 0;
  padding: 0.5em 0.2em;
}

.suggestions li.active {
  background-color: #00A8E8;
  color: #FFFFFF;
}
    
@media (min-width: 48em) {
  .top-menu form {
    display: inline-block;
  }
  
  .top-menu {
    text-align: left;
  }
 
  .top-menu-dropdown {
    float: right;
  }
  
  .top-menu input[type=text] {
    width: 20em;
  }
}

@media (max-width: 48em)
{
  .top-menu {
    position: absolute !important;
  }
}