.alert {
  padding: 1em;
  color: red;
}

.alert-success {
  color: green;
}

.top-menu
{
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.top-menu, .settings-menu {
  padding: 0.5em;
  background: #003459;
  vertical-align: center;
}

.settings-menu
{
    text-align: left;
    padding-left: 0em !important;
}

.settings-menu .pure-menu-list li a
{
    padding-left: 0em !important;
}

.settings-menu .pure-menu-list li ul li
{
    padding-left: .3em !important;
}

.top-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.top-menu .pure-menu-selected a, .settings-menu .pure-menu-selected a {
  color: white;
}

.top-menu a, .settings-menu a{
  color: #00A8E8;
}

.top-menu li a:hover, .top-menu li a:focus, .settings-menu li a:hover, .settings-menu li a:focus {
  background: #003459;
  color: #007EA7;
}

.top-menu li {
    width: 100%;
}

.top-menu .pure-menu-children, .settings-menu .pure-menu-children {
  background-color: #003459;
}

.top-menu input[type=text] {
  width: 100%;
}

.top-menu input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.suggestions ul {
  position: absolute;
  display: none;
  clear: both;
  width: 20em;
  overflow: visible;
  z-index: 2;
  border: 1px solid #00171F;
  border-radius: 0.4em;
  padding: 2px;
  margin-top: 0;
  color: #00171F;
  background-color: #FFFFFF;
  list-style-type: none;
}

.suggestions li {
  list-style-position: inside;
  margin: 0;
  padding: 0.5em 0.2em;
}

.suggestions li.active {
  background-color: #00A8E8;
  color: #FFFFFF;
}

@media (min-width: 48em) {
  .top-menu form {
    display: inline-block;
  }
  
  .top-menu {
    text-align: left;
  }
 
  .top-menu-dropdown {
    float: right;
  }

  .header_item
  {
      float: right;
  }
  
  .top-menu input[type=text] {
    width: 20em;
  }

  .top-menu input[type=submit] {
    display: inline;
    margin-top: 0;
  }
}

@media (max-width: 48em)
{
  .top-menu {
    position: absolute !important;
  }
}


@media (min-width: 65em)
{
    .o_drop
    {
	display: none !important;
    }
}

@media (max-width: 65em)
{
    .other_dropdown
    {
	display: none !important;
    }
}

.main_item
{
    width: 100%;
}
