.main_navbar_header
{
  position: relative;
  display: block;
  top: 0px;
  height: 60px;
  width: 100%;
  padding: 0;
  margin:0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6, p, a
{
  font-family: sans-serif;
}

.main_navbar_top
{
  overflow: visible;
  margin-bottom: 0px;
  height: 100%;
  background-color: #5A8693;
  width: 100%;
  position: relative;
  .search_header, .nav_header, .dropdown_header
  {
    position: relative;
    top: 10%;
    height: 80%;
  }
  .search_header, .nav_header
  {
    float: left;
  }

  .dropdown_header
  {
    float: right;
    width: 13%;
    right: 0%;
  }
  .nav_header
  {
    width: 13%;
    display:table;
    left: 0%;
  }
  .nav_header h1
  {
    padding: 0;
    margin:0;
    display: table-cell;
    vertical-align:middle;
    margin-top: 0px;
    height: 100%;
    text-align: center;
  }
  .nav_header a
  {
    text-decoration: none;
    color: white;
  }
  .nav_header a:hover
  {
    color: #d8d0e0;
    text-decoration: underline;
  }
  .search_submitter
  {
    margin-left: 1%;
    width: 6%;
    background-color: #75BBBA;
    color: #ffffff;
  }


  
  .search_header
  {
    overflow: visible;
    z-index: 2;
    width: 50%;
    margin-left:2%;
    ul
    {
      display: none;
      clear: both;
      width: 77.5%;
      margin-top: 0px;
      padding: 0;
      background-color: white;
      overflow: visible;
      z-index: 2;
      li
      {
        padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
        color: black;
        list-style-type: none;
      }
      li.active
      {
        background-color: pink;
	color: white;
      }
    }
    .search_string
    {
      border: none;
    }
    .search_string, .search_string:focus
    {
      height: 100%;
      display: block;
      padding-left:1%;
      padding-right:0.5%;
      padding-top:0px;
      padding-bottom:0px;
      width: 77.5%;
      margin-left: 0%;
      margin-right: 2%;
      margin-bottom: 0px
    }
    .search_string:focus
    {
      border: solid 1px;
      border-color: #75BBBA;
    }
    .search_submitter
    {
      padding: 0%;
      margin: 0%;
      display: block;
      width: 18%;
      height: 100%;
      background-color: #75BBBA;
      color: #ffffff;
    }
    .search_submitter, .search_string
    {
      float: left;
      clear: none;
    }
  }
  .nav_header, .dropdown_header
  {
    padding: 0;
    margin:0;
  }

  .dropdown_header button
  {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .dropdown_toggle_header
  {
    background-color: #75BBBA;
    border-color: #75BBBA;
    color: #75BBBA;
  }
  .dropdown_menu_header
  {
    display: none;
    border-radius: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
    color: black;
    height: auto;
    z-index: 2;
    overflow: visible;
    li
    {
      padding-left: 3px;
      list-style-type: none;
      a
      {
        text-decoration: none;
      }
    }
    li:hover
    {
      background-color: white;
      cursor: pointer;
    }
  }

  .dropdown_header
  {
    
    overflow: visible;
    z-index: 2;
  }
}

