.main_navbar_header
{
  position: relative;
  display: block;
  top: 0px;
  height: 60px;
  width: 100%;
  padding: 0;
  margin:0;
}

.main_navbar_top
{
  margin-bottom: 0px;
  height: 100%;
  background-color: #5A8693;
  width: 100%;
  position: relative;
  .nav_header, .dropdown_header
  {
    position: relative;
    top: 10%;
    height: 80%;
  }
  .nav_header
  {
    float: left;
  }

  .search_bar
  {
    position: relative;
    line-height: 220%;
    width: 40%;
    bottom: 60%;
    left: 15%;
    input
    {
      border: none;
    }
    input:focus
    {
      border: solid 1px;
      border-color: #75BBBA;
    }
  }

  .search_submit
  {
    position: relative;
    left: 100%;
    height: 100%;
    bottom: 50px;
    width: 80px;
    margin-left: 1%;
    background-color: #75BBBA;
    color: #ffffff;
  }

  .dropdown_header
  {
    display: block;
    float: right;
    width: 13%;
    top: -125px;
  }
  .nav_header
  {
    width: 13%;
    display:table;
    left: 0%;
  }
  .nav_header h2
  {
    padding: 0;
    margin:0;
    display: table-cell;
    vertical-align:middle;
    margin-top: 0px;
    height: 100%;
    text-align: center;
  }
  .nav_header, .dropdown_header
  {
    padding: 0;
    margin:0;
  }
  .dropdown_header ul
  {
    width: 100%;
  }
  .dropdown_header button
  {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .dropdown-toggle
  {
    background-color: #75BBBA;
    border-color: #75BBBA;
    color: #75BBBA;    
  }
  .dropdown-menu
  {
    background-color: #5A8693;
  }
  a
  {
    color: #FFFFFF;
  }
}
