// Place all the styles related to the Bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bug
{
  color: red;
  border: 1px solid red;
}

.bug_fixed
{
  color: green;
  border: 1px solid green;
}

.bug, .bug_fixed
{
  clear: both;
  float: left;
  display: block;
  margin: 3px;
  padding: 2px;
}