.picture {
  padding: 1em;
}


.dropzone
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-body form {
  margin: 1em;
}

#image
{
    height: 300px;
    width: 300px;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    margin-bottom: 10px;
}