.message_form {
    background-color: #003459;
    padding: 1em;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 1em;
    word-wrap: break-word;
    height: auto;
}

.finished_true {
  color: green;
}

.finished_false {
  color: red;
}

.reviewed_false {
  color: blue;
}

.deal img {
  margin-right: 1em;
}

.deals_img
{
    margin-top: 1em;
    margin-bottom: 1em;
}



.marg
{
    margin: 1em;
}

.deals_welcome
{
    padding-left: 0.5em;
}

.inline_button
{
    color: green;
    cursor: pointer;
}

