.message_form {
    background-color: #003459;
    padding: 1em;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 1em;
    word-wrap: break-word;
    height: auto;
}

.finished_true {
  color: green;
}

.finished_false {
  color: red;
}

.reviewed_false {
  color: blue;
}

.deal img {
  margin-right: 1em;
}

.deals_img
{
    margin-top: 1em;
    margin-bottom: 1em;
}



.marg
{
    margin: 1em;
}

.deals_welcome
{
    padding-left: 0.5em;
}

.inline_button
{
    color: green;
    cursor: pointer;
}

.pure-menu-link
{
    cursor: pointer;
}

.leftside h3, .leftside h2, .leftside h4, .leftside h1, .leftside p
{
    margin-top: 0px;
}

.price_warning
{
    border: 2px solid red;
}

.button-error {
    background: rgb(202, 60, 60) !important; /* this is a maroon */
}


.full_width_text
{
    width: 100%;
}

#deal_summary
{
    text-decoration: underline;
}

#deal_summary_list
{
    border: 1px solid white;
}