// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deal
{
  display: block;
  float: left;
  clear: none;
  padding: 3px;
}

.finished_true
{
  h3
  {
    color: green;
  }
  border: 1px solid green;
}

.finished_false
{
  h3
  {
    color: red;
  }
  border: 1px solid red;
}

.deal_large
{
  display: block;
  width: 50%;
  float: left;
  clear: none;
}

.messages_deal
{
  display: block;
  margin-left: 0%;
  width: 30%;
  float: left;
  clear: none;
}

.reviewed_false
{
  h3
  {
    color: blue;
  }
  border: 1px solid blue;
}
