.message_form {
    background-color: #003459;
    padding: 1em;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 1em;
    word-wrap: break-word;
    height: auto;
}

.finished_true {
  color: green;
}

.finished_false {
  color: red;
}

.reviewed_false {
  color: blue;
}

.deal img {
  margin-right: 1em;
}
