.feed_item {
  border: 0.15em solid #00171F;
  border-radius: 0.5em;
  box-shadow: 5px 5px 20px 5px #888888;
  background-color: #efefef;
  padding: 1em;
  margin: 0.5em;
}

.feed_item img {
  display: inline;
  vertical-align: middle;
}

.feed_item h2 {
  display: inline;
  vertical-align: middle;
  margin-left: 0.25em;
}

.followers img {
  padding: 0.25em;
}

.followers {
  overflow-y: scroll;
  overflow-x: none;
}

#conversation-header, #activites_header {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}

