.sign-up {
    background: #00A8E8;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    position: relative;
}

.splash {
    width: 80%;
    height: 25%;
    margin: auto;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subtitle {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.gallery-container {
  padding-top: 1em;
  padding-left: 1em;
}

.gallery-container img {
  border-width: 1px;
  border-style: solid;
  border-color: #00171F;
  float: left;
  margin: 1em;
}

.content-header {
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  text-align: center;
}

.content-subhead {
  color: #00A8E8;
}

.pad-box {
  padding: 1em;
}

.ribbon {
  background: #003459;
  color: #FFFFFF;
  padding: 1em;
}

.no-fees {
  text-align: center;
  font-size: 35px;
}

.no-fees-subheader {
  font-size: 30px;
  text-align: center;
}

.no-fees-text {
  padding: 1em;
}

@media (min-width: 48em)
{
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }
    
    .no-fees {
      font-size: 400%;
    }
    
    .no-fees-subheader {
      font-size: 250%;
    }
}
