.message_image
{
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 75%;
  vertical-align: middle;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.message_text
{
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0.75em;
  max-width: 90%;
  display: inline-block;
  border-radius: 1em;
  color: white;
  text-align: left;
}

.message_list_theirs
{
  float: left;
  clear: both;
  padding: 0.1em;
  height: auto;
  overflow: visible;
  max-width: 80%;
  text-align: left;
}

.message_list_theirs span {
  background-color: #00A8E8;
}

.message_list_mine span {
  background-color: #003459;
}

.message_list_mine
{
  max-width: 80%;
  float: right;
  clear: both;
  padding: 0.1em;
  height: auto;
  overflow: visible;
  text-align: right;
}

