.notification
{

    width: auto;
    padding: 1em;
    margin: 1em;
    border: 1px solid #002C2B;
}

.notification p
{
    color: #002C2B;
}

.notification a
{
    color: #E9B104;
}

.notification_not_read a:hover
{
    color: #FF3D00;
}


.notification_read
{

}

.notification_not_read
{
    background-color: #0A837F;
}

.notification .read
{

}

.notification .not_read
{

}