.product_box {
  float: left;
  display: inline-block;
}

.deals_img
{
    border: 1px solid #003459;
}

#magnifier {
  background-color: white;
}


.product_image
{
    border: 1px solid #003459;
    height: 300px !important;
    width: 300px !important;
}

.product_view h3, .product_view h1
{
    margin-bottom: 0em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.pic_active
{
    border: 2px solid gold;
}

.product_attributes
{
}