.pure-radio {
  display: inline-block !important;
}

.product {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  border: 1px solid #00171F;
  margin: 1em;
}

.product img {
  padding: 1em;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #00171F;
}

.product-info {
  display: block;
  margin: 0.3em;
  padding: 0.2em;
  line-height: 1.2em;
  overflow: auto;
}

.product_box {
  float: left;
  display: inline-block;
}

.deals_img
{
    border: 1px solid #003459;
}

#magnifier {
  background-color: white;
}


.product_image
{
    border: 1px solid #003459;
    height: 300px !important;
    width: 300px !important;
}

.product_view h3, .product_view h1
{
    margin-bottom: 1em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.pic_active
{
    border: 2px solid gold;
}

.no-margin {
  margin: 0 !important;
}

.inline-heading {
  display: inline;
}
