.result
{
    clear: both;
    padding: 2px;
    border: 1px solid #003459;
    overflow: auto;
    margin: 5px;
}

.result img
{
    clear: none;
    float: left;
    display: block;
}

.result_info
{
    margin-left: 3px;
    clear: none;
    float: left;
    display: block;
}

.search-page h2, h3
{
    margin-top: 0px;
    padding: 0px;
}

.search-form
{
    background-color: #003459;
    padding: 1em;
    color: #FFFFFF;
    overflow: hidden;
    word-wrap: break-word;
}

.search-page {
  padding: 1em;
}

.price input[type=text] {
  width: 20%;
}

.search-results {
  padding: 1em;
}

.attr_long
{
    display: none;
}

.category h3, .selling_methods h3, .exchange_methods h3, .payment_methods h3, .option h2
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.category
{
    margin-bottom: 1em;
}

.option p
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#prices_man
{
    margin-top: 0.5em;
}

.price input[type=text]
{
    color: black;
}