
.search_results
{
  overflow: hidden;
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin-top: 10px;
  float: left;
  display: block;
  clear: none;
  background-color: #eaeaea;
}

.search_actions
{
  margin-top: 10px;
  position: relative;
  display: none;
  max-width: 300px;
  float: left;
  clear: none;
  background-color: #eaeaea;
  margin-left: 10px;
  textarea, button, h1, h2, h3, input[type=submit]
  {
    margin: 5px;
    float: left;
    clear: both;
  }
}

.active_search_result
{
  border: 2px solid #5a8693;
}

.option
{
  position: relative;
  margin-left: 10px;  
}

.toggle_options
{
  margin-top: 10px;
  background-color: #eaeaea;
  display: block;	
  position: relative;
  float: left;
  width: 300px;
  clear: none;
  margin-right: 10px;
  margin-left: 10px;
  height: 100%;
}

.image_container_search
{
  float: left;
  clear: none;
  position: relative;
  height: 200px;
  width: 200px;
  margin-right: 10px;
}

.info_container
{
  vertical-align: top;
  top: 0px;
  display: block;
  position: relative;
  height: 200px;
  width: 300px;
  float: left;
  clear: none;
  padding-right: 2px;
  margin-right: 15px;
}

.result
{
  overflow: hidden;
  max-width: 1000px;
  padding: 3px;
  margin: 10px;
}

.title_link
{
  color: black;
}

.title_link:hover
{
  color: #8De8B4;
}

a, h3, h4
{
  margin: 0;
  padding: 0;
}

.attr_long
{
  display: none;
}