.search_results
{
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 700px;
  float: left;
  display: block;
  clear: none;
  background-color: #eaeaea;
}

.option
{
  position: relative;
  margin-left: 10px;  
}

.toggle_options
{
  background-color: #eaeaea;
  display: block;	
  position: relative;
  float: left;
  width: 300px;
  clear: none;
  margin-right: 10px;
  margin-left: 10px;
  height: 100%;
}

.image_container_search
{
  float: left;
  clear: none;
  position: relative;
  height: 200px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid red;
}

.info_container
{
  vertical-align: top;
  top: 0px;
  display: block;
  position: relative;
  height: 200px;
  width: 300px;
  float: left;
  clear: none;
  padding-right: 2px;
  margin-right: 10px;
  border: 2px solid red;
}

.result
{
  width: 600px;
  height: 210px;
  margin: 10px;
}

.title_link
{
  color: black;
}

.title_link:hover
{
  color: #8De8B4;
}

a, h3, h4
{
  margin: 0;
  padding: 0;
}