.log-in {
  padding: 1em;
  line-height: 3em;
}

.log-in-form {
  background-color: #003459;
  padding: 1em;
  color: #FFFFFF;
  overflow: hidden;
  border-radius: 1em;
  word-wrap: break-word;
}

.log-in input {
  color: #00171F;
}

.log-in input[type=submit] {
  color: #FFFFFF;
}

.log-in legend {
  color: #FFFFFF;
}

.log-in input[type=checkbox] {
  display: inline-block;
}