// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home_gallery
{
  width: 1006px;
  float: left;
  clear: none;
  height: auto;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 10px;
  h1
  {
    color: #5a8693;
    margin: 0;
    padding: 0;
  }
  .gallery_container
  {
    margin-top: 3px;
    width: 1000px;
    height: 500px;
    background-color: pink;
    border: 1px solid #d8d0e0;
    .gallery_main
    {
      width: 498px;
      height: 498px;
      border: 1px solid #d8d0e0;
      background-image: url('watch.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      float: left;
    }
    .gallery_other
    {
      width: 248px;
      height: 248px;
      margin: 0;
      border: 1px solid #d8d0e0;
      padding: 0;
      background-image: url('watch.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      float: left;
      clear: none;
    }
  }
}

.home_main
{  
  margin-top: 5px;
  overflow: auto;
  height: auto;
  width: 1050px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.buy_now
{
  display: block;
  float: left;
  margin-left:22px;
  width: 524px;
  height: 352px;
  border: 2px solid #d8d0e0;
  background-color: #5a8693;
  position: relative;
  #ring, #watch, #jewelry, #necklace, #coins, #bullion
  {
    position: relative;
    height: 160px;
    width: 160px;
    margin-left: 8px;
    display: block;
    float: left;
    clear: none;
    margin-top: 8px;
    
    padding: 0px;
    border: 2px solid silver;
    background-size: cover;
    background-repeat: no-repeat;
    #watch, #jewelry
    {
      margin-right: 8px;
    }
    #ring, #necklace, #jewelry
    {
      margin-bottom: 8px;
    }
    p
    {
      padding: 0;
      color: #5a8693;
      font-size: 20px;
      opacity: 0.8;
      margin: 0;
    }
    p, button
    {
      margin-left: 3px;
      margin-top: 2px;
    }
    button
    {
      background-color: #75bbba;
      color: white;
      border: 2px solid #8de8b4;
    }
  }
  #watch
  {
    background-image: url('watch.jpeg');
  }
  #ring
  {
    background-image: url('ring.jpg');
  }
  #coins
  {
    background-image: url('coins.jpg');
  }
  #bullion
  {
    background-image: url('bullion.jpg');
  }
  #jewelry
  {
    background-image: url('jewelry.jpg');
  }
  #necklace
  {
    background-image: url('necklace.jpg');
  }
}

.sell_now
{
  text-align: center;
  border: 2px solid #d8d0e0;
  background-image: url('analysis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin-left: 22px;
  height: 352px;
  width: 452px;
  margin-right: 22px;
  p
  {
    margin-top: 80px;
    padding: 0;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    
  }
  button
  {
    height: 70px;
    width: 150px;
    background-color: #75bbba;
    color: white;
    border: 2px solid #8de8b4;
    border-radius: 3px;
  }
}