.edit_times_inline
{
  p, h1, h2, h3, h4, h5, h6, select
  {
    display: inline-block;
  }
}

.table
{
  margin-top: 50px;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  border: 2px solid black;
  table-layout: fixed;
}

.table .pic
{
  height: 100%;
  width: 100%;
}

.table .pic td img
{
  display: block;
  margin: auto auto auto auto;
  width: 200px;
  height: 200px;
}

.table .buttons
{
  height: 10%;
}

.table .buttons td
{
  width: 50%;
  text-align: center;
  background-color: black;	
  color: white;
}

.special
{
  text-align: center;
}





.panel
{
  position: fixed;
  top: 100;
  left: 100;
}

.navy
{
  width: 100%;
}

.navy div
{
  display: table;
  height: 30px;
  width: 25%;
  text-align: center;
  float: left;
  background-color: gray;
}

.navy div p
{
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.gallery_nav
{
  margin-top: 30px;
  border: 5px solid black;
  background-color: lightblue;
  text-align: center;
}

/*
.gallery_nav
{
  width: 90%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  float: left;
}

.gallery_nav li
{
  list-style-type: none;	
  width: 20%;
  height: 100px;
  background-color: blue;
  display: inline-block;
}
*/

hr
{
  border-top: 1px solid red;
}

.profile_picture
{
  border-radius: 3px;
  display: block;
  height: 310px;
  width: 310px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(200, 200, 200, 200);
  text-align: center;
}

.try
{
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.wrap
{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

td
{
  padding: 20px;
}

.blank
{
  width: 20%;
  background-color: white;
}

.blog
{
  border-radius: 6px;
  width: 40%;
  background: linear-gradient(to right, rgba(120, 120, 120, 0), rgba(120, 120, 0, 255));
}

.info
{
  border-radius: 6px;
  width: 40%;
  background: linear-gradient(to left, rgba(120, 120, 120, 0), rgba(120, 120, 0, 255));
}

/*
.blog
{
  margin-top: 20px;
  display: inline-block;
  background-color: purple;
  width: 40%;
  height: 500px;
}

.info
{	
  margin-top: 20px;
  display: inline-block;
  background-color: purple;
  width: 40%;
  height: 500px;
}
*/

.description
{
  display: block;
  border-radius: 3px;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  border: 1px solid black;
  background: linear-gradient(to right, rgba(240, 240, 240, 2), rgba(190, 190, 190, 255));
}


.gallery
{
  display: inline-block;
  width: 450px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  box-shadow: 2px 2px 2px 4px #ccc;
  margin-bottom: 30px;
}

.gal_options
{
  width: 200px;
  height: auto;;
  margin-left: 10px;
  display: inline-block;
  float: right;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: pink;  
}



.search
{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 100px;	 
  float: left;
  margin-left: 6px;
  clear: both;
}

.gallery img
{
  width: 100px;
  height: 100px;
  display: inline;
  border: 1px solid gold;
  padding: 3px;
}

.gal_search
{
  color: white;
  background-color: transparent;
  border: 2px solid #eaeaea;  
  padding: 4px;
  border-radius: 3px;  
}

.gal_search:focus
{
  border-radius: 3px;
  padding: 4px;
  outline: none;
  color: white;
  background-color: transparent;
  border: 2px solid black;
}

.gal_search:focus, .gal_search
{
  margin-top: 10px;
  display: block;
  width: 80%;
  float: left;
  margin-left: 6px;
}



.gmoney .money, .gcomm .comm, .gdist .dist
{
  width: auto !important;
  display: inline-block !important;
  margin-left: 6px !important;
}

.gmoney, .gcomm, .gdist
{
  display: block;
  margin-top: 0px;
  clear: both;
  float: left;
}

.gal_options h4
{
  clear: both;
  display: block;
  float: left;
  color: purple;
  margin-left: 6px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.slideshow
{
  position: relative;
  display: block;
  border: 2px solid black;
  height: 300px;
  width: 500px;
  #width: 300px;
  #margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  background-image: url('http://vignette2.wikia.nocookie.net/athletedoper/images/1/1e/Manny_Ramirez.jpg/revision/latest?cb=20140313211357');
  background-repeat: no-repeat;
  background-size: cover;
}

.next
{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 120px;
  right: 0px;
}

.prev
{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 120px;
  left: 0px;
}

.toggles
{
  width: 100%;
  position: absolute;
  bottom: 3px;
  display: block;
}

.cont
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 42px;
}

.circle
{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: blue;
  margin-left: 2px;
  margin-right: 2px;
}

.storefront_gallery
{
  width: 100%;
  background-color: #e1e1f3;
  margin-top: -10px;
  overflow: auto;
  position: relative;
}

.store_title
{
  position: relative;
  top: 120px;
}

.store_within
{
  position: relative;
  margin-top: 140px;
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.store_prod
{
  margin-top: 40px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
  width: 200px;
}

.image_container
{
  width: 200px;
  height: 200px;
  position: relative;
  border: 2px solid #5a8693;
}

.store_prod_image
{
  width: 200px;
  height: 200px;    
}

.quick_view
{
  opacity: 0.7;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

.store_prod_name, .store_prod.price
{
  color: black;
}

.container
{
  width: 100%;
}

.storefront_nav
{
  z-index: 1;
  opacity: 0.7;
  position: fixed;
  background-color: #eaeaea;
  width: 100%;
  margin-top: 0px;
  height: 100px;	
}

.storefront_nav_within
{
  height: 100%;
  width: 920px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.storefront_nav ul
{
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.storefront_nav ul li
{
  float: left;
  list-style-type: none;
  width: 250px;
  height: 100%;
}

.storefront_nav button
{
  background-color: #eaeaea;
  border: none;
  float: left;
  width: 230px;
  height: 100%;
  outline: none;
}

.store_about
{
  margin-top: 0px;
  float: left;
}

.store_location
{
  display: block;
  float: left;
  margin-top: 0px;
}


.store_profile_picture
{
  display: block;
  height: 200px;
  width: 200px;
  float: left;
  clear: left;
}

.store_profile_picture:hover
{
  opacity: 0.8;
}

.store_description
{
  width: 500px;
  display: block;
  float: left;
  clear: left;
}

.hoursofoperation
{
  display: block;
  clear: left;
  float: left;
}

.hours
{
  float: left;
  clear: left;
  display: block;
}

.store_about_container, .store_contact_container
{
  width: 920px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_right, .contact_right
{
  float: right;
  clear: none;
  display: block;
  position: relative;
  margin-top: 0px;
}

.about_left, .contact_left
{
  float: left;
  clear: none;
  display: block;
  position: relative;
  margin-top: 0px;
  width: 520px;
}

.faq_header, .about_left h5, .about_left p
{
  float: left;
  clear: left;
}

.faq_question
{
  font-weight: bold;
}

.contact_left h3, .contact_left h4, .contact_left h5, .contact_left p
{
  float: left;
  clear: left;
}

.contact_right input, .contact_right textarea
{
  width: 350px;
  float: left;
  clear: left;
  border-radius: 4px;
  border: 2px solid silver;
}

.contact_left h3
{
  margin-top: 0px;
}

.contact_right .btn
{
  margin-bottom: 4px;
}

.modal
{
  position: absolute;
  color: white;
  height: 300px;
  width: 300px;
  top: 100px;
  top: 100px;
  background-color: #eaeaea;
}