.pad
{
  padding: 2em;
}


.user_top
{
  margin: 12px;
  background-color: #003459;
  color: #FFFFFF;
  border-radius: 3px;
}

.message_input
{
  height: 100px;
  width: 220px;
  border-radius: 2px;
  border: 3px solid #003459;
  outline: none;
}

.product-img
{
  border: 1px solid #003459;
}

.index_header
{
  margin: 5px;
  padding-left: 2px;
}