<div class="dropper" id="dropper">
  <%= form_for @picture, url: product_path(@product) + "/pictures", html: { multipart: true, class: "dropzone"} do |f|  %>
  <% end %>
  <button class="pure-button pure-button-primary product_previous_picture" type="button">Previous</button>
  <br>
  <button class="pure-button pure-button-primary pan_img" type="button">Pan image upload</button>
  <br>
  <button class="pure-button pure-button-primary submit_the_form submit_prod_picture save">Save product</button>
  <button class="pure-button pure-button-primary submit_the_form submit_product_picture">Submit product</button>
</div>
