<div class="product">
  <% unless product.pictures.first.nil? %>
 <a href="<%= product_path(product) %>"><%= image_tag product.pictures.first.photo_cropped(:thumb), class: 'pure-img' %>
<% end %>
   <p class="product-info"><%= product.title %><br>
                          <%= number_to_currency(product.price) %></p>
                        </a>
                      </div>

