<div class="pure-menu pure-menu-horizontal store-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-link pure-menu-item product_toggle" id="main_form_button">Main Product Details</li>
    <li class="pure-menu-link pure-menu-item product_toggle" id="toggle_options_button">Toggle Options</li>
    <li class="pure-menu-link pure-menu-item product_toggle" id="selling_methods_button">Selling Methods</li>
    <li class="pure-menu-link pure-menu-item product_toggle" id="exchange_methods_button">Exchange Methods</li>
    <li class="pure-menu-link pure-menu-item product_toggle" id="payment_methods_button">Payment Methods</li>
    <li class="pure-menu-link pure-menu-item product_toggle" id="dropper_button">Upload Pictures</li>
    <li class="pure-menu-item product_toggle pure-menu-link pan_img">Pan Image</li>
  </ul>
</div>
<%= render 'form' %>
