<div class="pure-menu pure-menu-horizontal store-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item product_toggle pure-menu-link" id="main_form_button">Main Product Details</li>
    <li class="pure-menu-item product_toggle pure-menu-link" id="toggle_options_button">Toggle Options</li>
    <li class="pure-menu-item product_toggle pure-menu-link" id="selling_methods_button">Selling Methods</li>
    <li class="pure-menu-item product_toggle pure-menu-link" id="exchange_methods_button">Exchange Methods</li>
    <li class="pure-menu-item product_toggle pure-menu-link" id="payment_methods_button">Payment Methods</li>
    <li class="pure-menu-item product_toggle pure-menu-link" id="dropper_button">Upload Pictures</li>
  </ul>
</div>
<%= render 'form' %>

